## 문자열 관련 함수 알아보기

### Count the number of certain letter in String

In [1]:
data = 'Dave David'
data.count('v') # number of v in string

2

### Return the location index of letter in String

In [2]:
string = 'Dave ID is dave'
string.index('i')

8

In [3]:
string.index('x') # Does not exist

ValueError: substring not found

### How to prevent errors when a letter does not exist in String
* Use find function - it returns -1 when the letter does not exist

In [4]:
string = 'dave is david'
string.find('x')

-1

In [6]:
string = 'Dave ID is dave'
string.find('D ')  

if string.find('x') == -1:
    print ("x is not included.")

x is not included.

### Inject letters to String

In [8]:
string = "12345"
comma = ','
comma.join(string)

'1,2,3,4,5'

### Strip function
 * Delete unnecessary whitespace or letters

In [12]:
data = " Dave "
data.strip() # 앞 뒤 공백을 다 지움

'Dave'

In [9]:
string2 = "     David  "
string2.strip() # delete front and rear whitespaces

'David'

In [14]:
string2.lstrip() # left strip

'David  '

In [15]:
string2.rstrip() # right strip

'     David'

In [10]:
string = "      9999999999999999(Dave)888888888888888888     "
string.strip(" 98()") # delete 9,8,and parentheses

'Dave'

### Upper and Lower

### All uppercase

In [32]:
string = 'Dave'
string.upper()

'DAVE'

### All lowercase

In [13]:
string = 'Dave'
string.lower()

'dave'

### Split String

In [14]:
string = "Dave goes to Korea"
string.split() # default value = whitespace

['Dave', 'goes', 'to', 'Korea']

In [15]:
string = "Dave goes to Korea"
string.split()[3] # return 4th element of list

'Korea'

In [16]:
string.split(' ')    # explicitly defining whitespace as a parameter

['Dave', 'goes', 'to', 'Korea']

In [17]:
string = "Dave/goes/to/Korea"
string.split('/')   # slash as a parameter

['Dave', 'goes', 'to', 'Korea']

In [34]:
string = "10,11,22,33,44" 
string.split(',')

['10', '11', '22', '33', '44']

In [18]:
string = "10,11,22,33,44" 
listdata = string.split(',')

for index, listitem in enumerate(listdata):
    listdata[index] = int(listitem)
print (listdata)

[10, 11, 22, 33, 44]

In [21]:
string = "10,11,22,33,44"
split_string = string.split(',')
for index, split_item in enumerate(split_string):
    split_string[index] = int(split_item)
print (split_string)

[10, 11, 22, 33, 44]

### Replace certain letters

In [25]:
string = "David goes to Korea"
string.replace("David", "Dave")     # David -> Dave

'Dave goes to Korea'

In [30]:
string2 = "(Dave)"
string2 = string2.replace("(", "")  
string2.replace(")", "")

'Dave'

In [31]:
string2.replace("(", "").replace(")", "")

'Dave'

### Replace comma with whitespace

In [28]:
string = "10,11,22,33,44"
string.replace(",", " ")

'10 11 22 33 44'